:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-tab-group {
  margin: 8px;
  min-width: 500px;
  width: 500px;
  max-width: 500px;
  display: flex;
  justify-content: center;
}

mat-card {
  margin: 8px;
  min-width: 300px;
  max-width: 400px;
}
